.create-form input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .create-form button[type=submit] {
    width: 100%;
    background-color:green ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .create-form button[type=button] {
    width: 100%;
    background-color:green;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-form input:hover {
    background-color:green;
  }
  .create-form {
    width: 50%;
    
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    background-color: white;
    padding: 20px;
    display: inline-block;
  }
  
