.booking-list{
    list-style: none;
    text-align: left;
    
}


.booking-list li {
    width: 50%;
    background-color:gray;
    color:black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.booking-list li:hover {
    
    background-color:black;
    color:Gold;
   
}

.ele button{
    background-color: crimson;
    width: 40%;
    height:40px;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    float: right;
    border-radius: 3px;
}